body {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
    background-color: #ecf0f1;
}
#container{
    width: 100%;
    display: block;
    overflow: hidden;
}
.item {
    width: 50%;
    min-width: 350px;
    padding: 15px 15px 0 15px;
}
.panel-title {
    font-size: 150%;
    color:#6F6F6F;
}
.panel-heading {
    overflow: hidden;
}
.panel-footer {
    overflow: hidden;
}

.panel-body {
    perspective: 1000;
    transition: 0.6s;
    transform-style: preserve-3d;
    cursor:  pointer;
}

.hover .front {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
.hover .back {
    transform: rotateY(0deg);
    backface-visibility: hidden;
}
.front {
    z-index: 2;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -khtml-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -khtml-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}
.back {
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -khtml-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -khtml-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    cursor:  pointer;
    overflow: hidden;
}
#descQR{
    margin:5px;
    word-wrap: break-word;
}
#descQR p {
    text-align: justify;
}
#descQR h4{
    font-size: 125%;
    margin-top: 0px;
}
#photo{
    max-width:100%;
    max-height:1024px;
    margin-left: auto;
    margin-right: auto;
}
#QRCode{
    float:right;
    max-width: 40%;
    max-height: 40%;
    margin-right: 2px;
    margin-bottom: -10px;
}
.date{
    margin: 0 0 0 0;
    font-size: 130%;
    color:#6F6F6F;
}
.date span{
    float:right;
}
.jumbotron {
    position: fixed;
    z-index: 3;
    width: 100%;
    padding-top: 1px;
    padding-bottom: 10px;
    color:white;
    box-shadow: 0px 0px 8px 2px #797979;
}
.slogan{
    margin-right: 50px;
}
#refreshImage{
    max-width:5%;
    min-width:60px;
    padding: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
}
hr {
    display: block;
    margin: 0px 0 5px;
}
.loadmore {
    text-align: center;
    font-size: 20px;
}
.info{
    margin: 15px;
    position:absolute;
    top:0;
    right:0;
    cursor: pointer;
    width:100%;
    float: right;
    text-align: right;
    font-size: 20px;
}
.contenu{
    display: none;
    background-color: white;
    box-shadow: 0px 10px 20px #888888;
    padding: 10px;
    padding-right: 20px;
    z-index: 3;
    position: absolute;
    top:25%;
    right:0.5%;
    width: 60%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    color:black;
}
#facebookPage{
    max-width:100%;
    max-height:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
	width: 200px;
}
.lien{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px !important;
    cursor: pointer;
}
.refresh{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.timestamp{
    display: none;
}
.scrollDate{
    text-align: center;
}
.slogan {
  font-family: 'PT Sans', sans-serif;
}
